html{
  background-color: #C28F50;
}

body{
  display: flex;
  flex-direction: column;
}

.header{
  height: 150px;
  background-color: #323E35;
  margin-bottom: 10px;
}

.footer{
  display: block;
  height: 50px;
  background-color: #323E35;
  width:100%;
  margin-top: 10px;
}

.aside{
  display: inline-block;
  left: 10px;
  height: 750px;
  width: 200px;
  background-color: #323E35;
  margin-right: 10px;
}

.right{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.nav{
  height: 50px;
  width: 100%;
  background-color: #323E35;
  margin-bottom: 10px;
}

.section{
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background-color: #323E35;
}

.article{
  display: block;
  background-color: #323E35;
}

.article2{
  display: inline-block;
  background-color: #323E35;
}

.main{
  flex: 1 auto;
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 780px;
}

img{
  margin: 10px;
}

p{
  font-size: 20px;
  font-weight: 300;
}